<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4.1.3.min.css' %}">

    <title>Payroll</title>
  </head>



<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Payroll Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="{% url 'display-employee' %}">Display Employee</a>
      </li>-->
      <li class="nav-item dropdown custom-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'display-employee' %}">Employee Details</a>
          <a class="dropdown-item" href="{% url 'add-employee' %}">Add Employee</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a-->
        </div>
      </li>

      <li class="nav-item dropdown custom-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Salary
        </a>
        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="{% url 'display-salary' %}">Salary Details</a>
          <a class="dropdown-item" href="{% url 'add-salary' %}">Add Salary</a>
          <!--<div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a-->
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'display-attendance' %}">Attendance</a>
      </li>

      <li class="nav-item dropdown custom-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>

        <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown2">
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
          {% endif %}
        </div>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% block body %}
{% endblock %}

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper1.14.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap4.1.3.min.js' %}"></script>

<script type="text/javascript">
  $('.custom-dropdown').hover(function() {
    $(this).find('.dropdown-content').stop(true, true).delay(200).fadeIn(500);
  },

  function() {
  $(this).find('.dropdown-content').stop(true, true).delay(200).fadeOut(500);
});  

</script>
</body>
</html>



