{% extends 'base.html' %}

{% block body %}

<br>
<br>
<div class="container">
<h4>Currently Viewing {{ header }}</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Status</th>
            <th>Hours</th>
		</tr>
	</thead>

	<tbody>
		{% for table in tables %}
			<tr>
				<td>{{ table.pk }}</td>
				<td>{{ table.date }}</td>
				<td>{{ table.checkin_time }}</td>
                <td>{{ table.checkout_time }}</td>
                <td>{{ table.status }}</td>
                <td>{{ table.hours }}</td>
			</tr>

		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}