{% extends 'base.html' %}

{% block body %}

<br>
<br>
<div class="container">
<h4>Currently Viewing {{ header }}</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>DOB</th>
            <th>Contact Info</th>
            <th>Gender</th>
		</tr>
	</thead>

	<tbody>
		{% for table in tables %}
			<tr>
				<td>{{ table.pk }}</td>
				<td>{{ table.first_name }}</td>
				<td>{{ table.last_name }}</td>
				<td>{{ table.DOB }}</td>
                <td>{{ table.contact_info }}</td>
				<td>{{ table.gender }}</td>
			</tr>

		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}