{% extends 'base.html' %}

{% block body %}

<br>
<br>
<div class="container">
<h4>Currently Viewing {{ header }}</h4>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Emp ID</th>
			<th>Basic Scale</th>
			<th>Net Salary</th>
		</tr>
	</thead>

	<tbody>
		{% for table in tables %}
			<tr>
				<td>{{ table.emp_id }}</td>
				<td>{{ table.basic_scale }}</td>
				<td>{{ table.net_salary }}</td>
				<td>
					<a href="{% url 'edit-salary' table.emp_id.emp_id%}" class="btn btn-warning btn-sm" role="button">Edit</a>
					<a href="{% url 'print-slip' table.emp_id.emp_id%}" class="btn btn-info btn-sm" role="button">Print Slip</a>
				</td>
			</tr>

		{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}