{% block body %}
<br>
<br>
<div class="container">

<table class="table table-hover">
	<thead>
		<tr>
			<th>Emp ID</th>
			<th>Name</th>
			<th>Basic Scale</th>
			<th>Net Salary</th>
		</tr>
	</thead>

	<tbody>
			<tr>
				<td>{{ salary.emp_id }}</td>
				<td>{{ employee.first_name }}</td>
				<td>{{ salary.basic_scale }}</td>
				<td>{{ salary.net_salary }}</td>
			</tr>
	</tbody>
</table>
</div>
{% endblock %}