.btn-pad {
    margin-right: 45px;
}

.btn-trim{
    margin-right: -5px
}

.edit_box{
  border-style: groove;
  border-width: 2px;
  padding: 15px;
}

{
  font-family: Arial, Helvetica, sans-serif;
}

/*.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/
